### Full documentation available at https://wodby.com/stacks/drupal/docs/local
###
### IMAGES TAGS CONSIST OF [VERSION]-[STABILITY_TAG]
###
### [VERSION] is usually a version of application running in a container
### [VERSION] sometimes additionally includes major drupal version (see nginx)
### [STABILITY_TAG] is a version of image (not application)
### [STABILITY_TAG] correspond to git tag of corresponding image repository
###
### EXAMPLE: wodby/mariadb:10.2-3.1.2 has MariaDB 10.2 and stability tag 3.0.2
### New stability tags include patch updates for applications and other fixes/improvements
### Changelog for stability tag can be found at https://github.com/wodby/mariadb/releases
###
### !!! For better reliability NEVER USE image without stability tag


### PROJECT SETTINGS

PROJECT_NAME=move_mil
PROJECT_BASE_URL=move.mil.localhost
HASH_SALT=XIzY6Y23-vJ1v8tYyg3kSxqUEKKSTE_m-8I4VhOFRIRcpDVemDIdpXTxef3myryCgXz8_wttgg

DB_NAME=drupal
DB_USER=drupal
DB_PASSWORD=drupal
DB_ROOT_PASSWORD=password
DB_HOST=mariadb
DB_DRIVER=mysql
DB_PORT=3306

### --- PHP ----

PHP_TAG=7.1-dev-macos

### --- NGINX ----
### [DRUPAL_VERSION]-[NGINX_VERSION]-[STABILITY_TAG]

NGINX_TAG=8-1.13-4.0.2

### --- SOLR ---
### [DRUPAL_VERSION]-[SOLR_VERSION]-[STABILITY_TAG]

SOLR_TAG=8-6.6

### --- REDIS ---

REDIS_TAG=4.0-2.1.5

### --- MARIADB ----

MARIADB_TAG=10.2

### OTHERS

ADMINER_TAG=4.3-1.1.0
APACHE_TAG=2.4-3.0.1
ATHENAPDF_TAG=2.10.0
DRUPAL_NODE_TAG=1.0-1.0.0
MEMCACHED_TAG=1.4
RSYSLOG_TAG=latest
VARNISH_TAG=4.1
WEBGRIND_TAG=1.5

## --- API KEYS ---
GOOGLE_MAPS_API_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
