$color: #000;
$number-color: #215393;
$header-backgrounds: #0071bc;
$total-background: #d6d7d9;

#entitlements-block {
    padding: 0;
    margin: 0;

    div{

    }

    [type=radio] {
        position: relative;
        left: 0em;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        -webkit-appearance: radio;
        -moz-appearance: radio;
        appearance: radio;
    }

    span.bold{
        font-weight: bold;
    }

    .list-item{
        margin: 10px 0px 10px 0px;

        .number{
            font-size: 2em;
            color: $number-color;
            display: inline-block;
            padding: 10px 15px 10px 15px;
            vertical-align: top;
            width: 5%;
        }

        .content{
            display: inline-block;
            padding-top: 15px;
            width:90%;

            .title{
                color: $number-color;
                font-weight: bold;
                font-size: 1.1em;
            }

            .sub-text, .title{
                padding: 0px 0px 10px;
            }
        }

        .dependents, .group{
            display: inline-block;
        }
    }

    .flex-container{
        position: relative;
        display: flex;
        text-align: left;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 5px;

        &.wrapper{
            padding: 0px;
        }

        &.header{
            .flex-item {
                .border-bottom{
                    border-bottom: 1px solid #333;
                    position: absolute;
                    left: 0;
                    right: 20%;
                }

                .flex-item-content{
                    border-bottom: 1px solid #333;
                }
            }
        }

        .flex-item{
            position: relative;
            width: 100%;
            padding: 2px; 

            &.right-align{
                text-align: right;
            }

            &.no-overflow{  
                overflow: hidden;
                text-overflow: ellipsis; 
            }

            &.options {
                flex: 1;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto; 
            }

            &.small {
                flex-basis: 10%;
            }

            &.colspan2{
                flex: 2;
            }

            &.button-container{
                text-align: right;
            }
        }
    }

    .weight-item{
        padding: 10px 0px 10px 10px;
    }


    .input-error{
        border-left: 4px solid #cd2026;
        input{
            border: 4px solid #cd2026;
        }
    }

    .validation-container{
        position: absolute;
        background: #fff;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 3px 3px 2px 1px #d8d5d5;
        border: 1px solid #333;
        margin-top: 10px;
        z-index:100;

        &:after, &:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px;
        }

        &:before {
            border-color: rgba(51, 51, 51, 0);
            border-bottom-color: #333;
            border-width: 11px;
            margin-left: -11px;
        }
    }


    .results{
        max-width: 600px;

        .flex-container{
            &.table{
                padding: 0;
                border: 1px solid #000;

                .flex-item{
                    &.arithmatic-sign {
                        flex-basis: 10%;
                    }

                    &.totals{
                        border-left: 1px solid #000;

                        .flex-container{
                            &.sum-line{
                                border-bottom: 1px solid #000;
                            }
                        }
                    }
                }
            }

            &.incentive{
                background: $header-backgrounds;
                color: #fff;
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                border-right: 1px solid #000;
            }
        }
    }

    .validation-icon, .validation-content{
        display: inline-block;
        vertical-align: text-top;

        img{
            display: inline-block;
            max-width: 25px;
        }
    }

    .validation-icon.warning{
        &:before{
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="25px" height="17px" viewBox="0 0 216 146" enable-background="new 0 0 216 146" xml:space="preserve" fill="#fdb81e" alignment-baseline="baseline"><path d="M179.695,125.388L117.126,10.673c-0.924-1.684-2.2-3.015-3.832-3.992c-1.628-0.978-3.394-1.467-5.295-1.467  c-1.901,0-3.667,0.49-5.296,1.467s-2.906,2.308-3.829,3.992L36.303,125.388c-1.901,3.423-1.847,6.845,0.163,10.267  c0.924,1.574,2.187,2.824,3.789,3.746c1.603,0.924,3.327,1.387,5.174,1.387H170.57c1.849,0,3.572-0.463,5.175-1.387  c1.603-0.922,2.864-2.172,3.789-3.746C181.544,132.232,181.598,128.811,179.695,125.388z M118.43,117.24  c0,0.76-0.259,1.398-0.773,1.914c-0.516,0.516-1.127,0.773-1.834,0.773H100.18c-0.706,0-1.317-0.257-1.833-0.773  c-0.516-0.517-0.774-1.154-0.774-1.914v-15.48c0-0.76,0.258-1.397,0.774-1.914c0.516-0.516,1.126-0.773,1.833-0.773h15.642  c0.707,0,1.318,0.257,1.834,0.773c0.515,0.517,0.773,1.154,0.773,1.914V117.24z M118.268,86.77  c-0.056,0.543-0.341,0.991-0.856,1.344c-0.517,0.354-1.154,0.529-1.915,0.529h-15.073c-0.76,0-1.412-0.176-1.955-0.529  c-0.544-0.354-0.815-0.801-0.815-1.346l-1.385-37.231c0-0.761,0.272-1.331,0.815-1.711c0.706-0.597,1.358-0.896,1.956-0.896h17.924  c0.598,0,1.25,0.298,1.956,0.896c0.543,0.38,0.813,0.896,0.813,1.548L118.268,86.77z"/></svg>');
        }
    }
    
    #map-container{
        height: 300px;
    }


    // OVERRIDES
    .react-datepicker {
        button{
            background: none;
            line-height: 1.7rem;
            text-align: center;
            cursor: pointer;
            position: absolute;
            top: 10px;
            width: 0;
            padding: 0;
            border-radius: 0px;
            border: .45rem solid transparent;
            z-index: 1;
            margin: 0;

            &.react-datepicker__navigation--previous {
                left: 10px;
                border-right-color: #ccc;
            }

            &.react-datepicker__navigation--next {
                right: 10px;
                border-left-color: #ccc;
            }
        }
    }
}