.region-breadcrumb {
  background: $color-gray-cool-light;

  @include media($nav-width) {
    background: none;
  }

  .usa-breadcrumbs {
    font-size: 1.4rem;
    padding: 1rem 0;
    position: relative;

    @include media($nav-width) {
      padding: 0;
    }

    li {

      &.usa-nav-secondary-links {
        margin-top: 0;
      }

      a {
        margin: 0;
      }

      &:not(:last-child) {

        a {
          color: $color-purple;
          text-decoration: underline;

          &:hover {
            color: initial;
          }
        }

        &:after {
          content: '/';
          text-decoration: none;
          color: initial;
        }
      }

      &:last-child {
        pointer-events: none;
      }
    }
  }
}
