.faq-accordion {
  .usa-accordion-button {
    background-image: url('../img/minus-blue.png');
    background-image: url('../img/minus-blue.svg');

    &[aria-expanded=false] {
      background-image: url('../img/plus-blue.png');
      background-image: url('../img/plus-blue.svg');
    }

    div.has-image {
      display: table;

      img {
        margin-right: 1.5rem;
        display: none;

        @include media($medium-screen) {
          display: table-cell;
          height: 50px;
          max-width: 55px;
          width: 55px;
          vertical-align: middle;
        }
      }

      .accordion-title {
        display: table-cell;
        vertical-align: middle;
        line-height: normal;
      }
    }
  }
}
