.jump-links {
  @include usa-sidenav-list;

  .jump-link {
    background-color: transparent;
    font-size: $h4-font-size;
  }

  @include media($sidenav-screen-width) {
    .jump-link {
      border-top: 1px solid gray-cool-60;

      &:first-child {
        border-top: none;
      }
    }
  }

  // match existing undo of uswds sidenav standards for smaller screens
  @media screen and (max-width: $sidenav-screen-width - 1) {
    a {
      color: $color-primary;
      margin-bottom: 0.5rem;
      padding: 0;
      text-decoration: underline;

      &:hover {
        background-color: white;
        color: blue-warm-70v;
        text-decoration: underline;
      }

      &.usa-current {
        border: none;
        padding-left: 0;
      }
    }
  }
}
