.paragraph--type--warning-callout-box {
  margin-bottom: $spacing-medium;

  .field--name-field-plain-title {
    @include h3();
  }
}

.usa-alert {
  background-position: 2rem 50%;

  &.usa-alert-slim {
    background-position: 2rem 1rem;
  }
}
