.paragraph--type--tabular-data-wrapper {
  border-collapse: collapse;
  margin: 3rem 0;

  @include media($medium-screen) {
    display: table;
  }

  .paragraph--type--tabular-data {
    @include media($medium-screen) {
      display: table-row;
    }

    > div {
      display: block;
      padding: 1rem 1.5rem;
      border: 1px solid gray-cool-60;
      border-top: none;

      &.tabular-data-left {
        align-items: center;
        display: flex;
        width: 100%;

        @include media($medium-screen) {
          width: auto;
        }

        .field-image-title-subtitle {
          max-width: calc(100% / 3 * 2);

          @include media($medium-screen) {
            max-width: 100%;
          }
        }
      }
    }

    &:first-child > div.tabular-data-left {
      border-top: 1px solid gray-cool-60;
    }

    img {
      margin-right: $site-margins-mobile;
      vertical-align: middle;
      max-width: calc(100% / 3 * 1);

      @include media($medium-screen) {
        max-width: 100%;
      }

      + abbr {
        vertical-align: middle;
      }
    }

    @include media($medium-screen) {
      > div.tabular-data-left, div.tabular-data-right {
        border-top: 1px solid gray-cool-60;

        @include media($medium-screen) {
          display: table-cell;
        }

        &.tabular-data-left {
          vertical-align: top;
          text-align: center;

          img {
            display: block;
            margin: 0 auto 1rem auto;
          }
        }
      }
    }

    .tabular-data-left {

      .field--name-field-table-image-title {
        @include h4();
        @include margin(0 null);
      }

      .field--name-field-table-image-subtitle {
        font-style: italic;
        font-size: $h5-font-size;
      }
    }

    .tabular-data-right {
      .field--name-field-plain-title {
        @include h3();
        border-bottom: 0.125rem solid gray-cool-30;
        margin-bottom: $site-margins-mobile;
        padding-bottom: $site-margins-mobile;
      }

      .field--name-field-body {
        > ul:last-child {
          margin-bottom: 1em;
        }
      }
    }
  }
}
