.paragraph--pro-tip {

  > div {
    padding: $spacing-small;
    border: solid 1px blue-warm-10;
  }

  &__align-top {
    margin: $spacing-medium 0 0;
  }

  &__align-bottom {
    margin: $spacing-medium 0 $spacing-medium;
  }

  &-img {
    float: left;
    margin-right: $spacing-small;
    width: 3.3rem;
  }

  &-body {

    p {
      margin: 0;
    }
  }

}
