.paragraph--tutorial-slideshow {
  margin-bottom: 6rem;

  .move-mil--slide-caption {
    margin-top: $spacing-small;

    &__title {
      margin: 0;
      padding-top: $spacing-small;
      @include h3;
      font-family: $font-sans;
      text-transform: uppercase;
    }
  }

  .field--name-field-slideshow-description {
    > p {
      margin-top: 0;
    }
  }
}
