.paragraph--type--tabular-data {
  @media screen and (max-width: $medium-screen) {
    td,
    th {
      // border-top: none;
      display: block;
    }

    th {
      align-items: center;
      display: flex;
    }

    td {
      border-top: none;
    }

    // tr:first-child th {
    //   border-top: 1px solid $color-gray;
    // }

    img {
      margin-right: $site-margins-mobile;
    }
  }

  .tabular-data-left {
    vertical-align: top;

    @include media($medium-screen) {
      text-align: center;

      img {
        display: block;
        margin: 0 auto 1rem auto;
      }
    }

    .field--name-field-table-image-title {
      @include h4();
      @include margin(0 null);
    }

    .field--name-field-table-image-subtitle {
      font-style: italic;
      font-size: $h5-font-size;
    }
  }

  .tabular-data-right {
    .field--name-field-plain-title {
      @include h3();
      border-bottom: 0.125rem solid $color-gray-light;
      margin-bottom: $site-margins-mobile;
      padding-bottom: $site-margins-mobile;
    }
  }
}
