.paragraph--text-with-image {
  margin: $spacing-large 0;

  &__align-right,
  &__align-left {
    display: flex;
    flex-direction: column;

    @include media($medium-screen) {
      flex-direction: row;
    }

    // clearing out some margins to keep things in line
    p {
      &:first-of-type {
        margin-top: 0;
      }
    }

    .usa-media_block-img { // this is a class associated with an image or a title that gets aligned
      margin: 0 0 $spacing-medium 0;

      &__align-right {
        order: 1;

        @include media($medium-screen) {
          order: 2;
          margin: 0 $spacing-large 0 0;
        }
      }

      &__align-left {
        order: 1;

        @include media($medium-screen) {
          order: 1;
          margin: 0 $spacing-large 0 0;
        }
      }

      h3.field-title-plain--link,
      h3.field-title-plain {

        a {
          text-decoration: none;
          display: flex;
        }
      }

      img {
        width: 26.6rem;
        min-width: 15rem;
      }
    }

    .usa-media_block-body {
      margin: 0 0 $spacing-medium 0;

      &.usa-width-two-thirds {
        max-width: 50rem;
      }

      &__align-right {
        order: 1;

        @include media($medium-screen) {
          margin: 0 $spacing-large 0 0;
        }
      }

      &__align-left {
        order: 2;

        @include media($medium-screen) {
          order: 2;
          margin: 0 0 0 $spacing-large;
        }
      }

      h3.field-title-plain--link,
      h3.field-title-plain {

        a {
          text-decoration: none;
          display: flex;
        }
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }
  }
}
