p.pro-tip {
  padding: $spacing-small $spacing-small $spacing-small 50px;
  border: solid 1px blue-warm-10;
  position: relative;

  &:before {
    content: url('/themes/custom/move_mil/assets/img/icon--pro-tip.svg');
    position: absolute;
    left: 1rem;
  }
}
