files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_node.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            cd /var/app/current

            sudo chown webapp:webapp /drupalfiles
            sudo chown -R webapp:webapp /var/app/current
            if [ ! -L "/var/app/current/web/sites/default/files" ]; then sudo rm -rf /var/app/current/web/sites/default/files; fi
            sudo chmod +w /var/app/current/web/sites/default && sudo ln -s /drupalfiles /var/app/current/web/sites/default/files
            sudo chmod -w /var/app/current/web/sites/default

            # We probabaly should get this from a trusted source. For testing this is ok.
            cd /home/ec2-user
            curl -o- curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.8/install.sh | bash

            # Source nvm
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

            # Install node
            nvm install --lts

            sudo chmod -R 777 /var/app/current/web/themes/custom/move_mil/
            cd /var/app/current/web/themes/custom/move_mil/
            npm install && npm run build

            #sudo chmod -R 777 /var/app/current/web/modules/react_tools/react-weight-estimator
            #cd /var/app/current/web/modules/react_tools/react-weight-estimator
            #npm install && npm run build

            sudo chmod -R 755 /var/app/current
            sudo chown -R webapp:webapp /var/app/current