files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_node.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            cd /var/app/current

            sudo chown webapp:webapp /drupalfiles
            sudo chown -R webapp:webapp /var/app/current
            if [ ! -L "/var/app/current/web/sites/default/files" ]; then sudo rm -rf /var/app/current/web/sites/default/files; fi
            sudo chmod +w /var/app/current/web/sites/default && sudo ln -s /drupalfiles /var/app/current/web/sites/default/files
            sudo chmod -w /var/app/current/web/sites/default