# script to run after deployment of new image
# script contains commands that always should be run immediately after deploying

commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99-drupal-updates.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            container_id=$(docker ps -q)
            docker exec -i ${container_id} vendor/bin/drush sset system.maintenance_mode 1
            docker exec -i ${container_id} vendor/bin/drush updatedb -y
            docker exec -i ${container_id} vendor/bin/drush entity-updates
            docker exec -i ${container_id} vendor/bin/drush cim -y
            docker exec -i ${container_id} vendor/bin/drush entity-updates
            docker exec -i ${container_id} vendor/bin/drush cr -y
            docker exec -i ${container_id} vendor/bin/drush sset system.maintenance_mode 0
