.customer-service {
  .paragraph--type--tabular-data-wrapper .paragraph--type--tabular-data {
    img {
      width: 42px;
    }

    .tabular-data-left {
      .field--name-field-table-image-subtitle {
        display: block;
        clear: left;
      }
    }
  }
}
