.nightmare-moves {
  .field--name-field-paragraph {
    @include clearfix;

    .paragraph--pro-tip {
      margin: $spacing-medium 0;
    }

    @include media($medium-large-screen) {
      > div.field__item {

        //main content paragraphs
        &:nth-child(2n-1) {
          clear: both;
          float: left;
          width: 62%;
          margin-right: 3%;
        }

        // pro tips callouts
        &:nth-child(2n) {
          float: right;
          width: 35%;

          .paragraph--pro-tip {
            margin: 0;
          }
        }

        &:nth-child(n+3) {
          margin-top: 4rem;

          // clean up section dividers
          .paragraph--type--basic-text {
            margin-top: 0;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              padding-right: 100%;
              margin-top: -2rem;
              border-top: 1px solid $color-cool-blue-lightest;
            }

            .field--name-field-plain-title {
              padding-top: 0;
              margin-top: 0;
              border-top: 0;
            }
          }
        }

        &:nth-child(-n+2) {
          margin-top: 2rem;
        }
      }
    }
  }
}
