.tools-resources {
  margin-top: -2rem;

  .field--name-field-page-intro-text {
    background-color: $color-gray-cool-light;
    margin-top: 0;
  }

  .field--name-field-paragraph > .field__item:first-child .paragraph--text-with-image {
    margin-top: 0;
  }
}
