.tools-resources {
  margin-top: -2rem;

  .field--name-field-page-intro-text {
    background-color: blue-warm-10;
    margin-top: 0;
  }

  .field--name-field-paragraph {
    > .field__item {
      .paragraph--text-with-image {
        .usa-media_block-body {
          > h3 {
            margin-top: 2rem;

            @include media($medium-screen) {
              margin-top: 0;
            }
          }
        }
      }

      &:first-child .paragraph--text-with-image {
        margin-top: 0;
      }
    }
  }
}
