.usa-header-extended {

  .usa-navbar {
    border-bottom: none;
    padding: $spacing-medium 0;
    height: 10rem;

    @include media($med-large-screen) {
      height: 15rem;
      padding: $spacing-medium 0 0;
    }
  }

  .navbar-border {
    border-top: .5rem solid $color-blue-darkest;

    @include media($med-large-screen) {
      border-top: 1.2rem solid $color-blue-darkest;
    }
  }

  .usa-logo {
    display: flex;
    line-height: 4rem;

    @include media($med-large-screen) {
      margin: 0 $spacing-small;
    }

    .logo-img {
      display: none;

      @include media($med-large-screen) {
        display: block;
        float: left;
        margin: 0 $spacing-medium;
        position: relative;
        width: 18.5rem;
        z-index: 90001;
      }
    }

    .usa-logo-text-area {

      .usa-logo-text a,
      .usa-logo-text {
        font-style: normal;
        font-weight: $font-bold;
        margin: 0;
        font-size: $h1-font-size;
        color: $color-blue-darkest;

        @include media($med-large-screen) {
          font-size: $title-font-size;
          padding-top: $spacing-medium;
        }
      }

      .usa-font-lead {
        display: block;
        font-family: $font-serif;
        font-weight: $font-normal;
        line-height: $lead-line-height;
        font-size: $small-font-size;
        font-weight: $font-normal;
        color: $color-blue-darkest;
        margin-top:$spacing-x-small;

        @include media($med-large-screen) {
          font-size: $lead-font-size;
        }

        abbr[title] {
          text-decoration: none;
        }
      }
    }
  }
}
