{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}

{% block paragraph %}
  {% if content.field_plain_title[0] %}
    <div{{ attributes.addClass(classes).setAttribute('id', content.field_plain_title[0]['#context'].value|clean_id ) }}>
  {% else %}
    <div{{ attributes.addClass(classes).setAttribute('id', 'paragraph-'~paragraph.id.value) }}>
  {% endif %}
    {% block content %}

      {% if uswds_grid_class %}
      <div class="{{ uswds_grid_class }}">
      {% endif %}

      {{ content }}

      {% if uswds_grid_class %}
      </div>
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
