{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% if uswds_grid_class %}
      <div class="{{ uswds_grid_class }}">
      {% endif %}

      <div class="usa-alert usa-alert-{{paragraph.field_callout_box_type[0].value}}">

        <div class="usa-alert-body">
          <div class="usa-alert-text">
            {{ content|without('field_callout_box_type') }}
          </div>
        </div>
      </div>

      {% if uswds_grid_class %}
      </div>
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
