{%
  set classes = [
    'paragraph--pro-tip', 'usa-media_block'
  ]
%}
{% if content.field_protip_body[0]['#text'] is not null %}
  {% block paragraph %}
    <div{{ attributes.addClass(classes) }} >
      {% block content %}
        {% if uswds_grid_class %}

        {% set alignment = content.field_protip_alignment[0]['#markup'] %}

          <div class="{{ uswds_grid_class }} paragraph--pro-tip__align-{{ alignment }} {% if alignment == 'right' or alignment == 'left' %}usa-width-one-third{% endif %}">
          {% endif %}

          <img class="usa-media_block-img" src="/themes/custom/move_mil/assets/img/icon--pro-tip.svg" alt="light bulb icon"></img>
          <div class="usa-media_block-body">{{ content.field_protip_body }}</div>

          {% if uswds_grid_class %}
          </div>
        {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
{% endif %}
