.paragraph--text-with-image {
  margin-bottom: $spacing-large;

  .content {

    .field--name-field-title-link,
    .field--name-field-plain-title {
      @include h4();

      > a {
        text-decoration: none;

        span {
          display: none;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .image {
    margin-bottom: $spacing-medium;
  }
}
