.usa-header-extended {

  .usa-nav {
    @include media($medium-large-screen) {
      // display: flex;
      text-align: center;
      background: $color-white-transparent;
      border-bottom: 1px solid gray-cool-10;
    }

    .usa-nav-inner {
      @include media($medium-large-screen) {
        padding: 0 0 0 2.5rem;

        ul.usa-nav-primary ul.usa-nav-submenu {
          text-align: left;
        }
      }

      .usa-nav-link {
        color: blue-60v;
        font-size: 1.7rem;
      }
    }

  }

}
