.usa-section.uswds-middle-section {
  padding-top: 0;

  @include media($medium-large-screen) {
    padding-top: 1.5rem;
  }
}

.path-frontpage .usa-section.uswds-middle-section {
  @include media($medium-screen) {
    padding-top: 1.5rem;
  }
}
