.view-sme-section {
  ul.document-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    li.document-item {
      margin-bottom: 1.5rem;

      .node--type-sme-document {
        display: flex;
        justify-content: space-between;

        .field--name-field-document-id {
          flex: 0 0 75px;

          @include media($medium-screen) {
            flex: 0 0 100px;
          }
        }

        .doc-link-size-wrapper {
          flex-grow: 1;

          &:first-child {
            padding-left: 75px;
          }
        }

        .edit-item {
          @include h6();
        }
      }
    }
  }
}
