.usa-section > .back-to-top {
  float: right;
  margin-top: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  z-index: 1000;

  @include media($small-screen) {
    margin-top: 7rem;
  }

  @include media($nav-width) {
    margin-top: 0;
  }

  a {
    @include padding(0.75rem 1.5rem);
    background-color: $color-gold;
    border-radius: $border-radius 0 0 $border-radius;
    color: $color-base;
    display: inline-block;
    font-size: $small-font-size;
    font-weight: $font-bold;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.user-logged-in.toolbar-fixed {
  .back-to-top {
    top: 4.9rem;
  }

  &.toolbar-horizontal.toolbar-tray-open .back-to-top {
    top: 8.9rem;
  }
}
