.usa-section > .back-to-top {
  //positioning & alignment
  float: right;
  position: relative;
  // position: -webkit-sticky;
  // position: sticky;
  margin-top: 1rem;
  z-index: 499;

  @include media($nav-width) {
    margin-top: -2.7rem;
  }

  + .usa-grid {
    clear: both;
  }

  // internal button styles
  a {
    @include padding(0.75rem 1.5rem);
    background-color: gold-20v;
    border-radius: $border-radius 0 0 $border-radius;
    color: $color-base;
    display: inline-block;
    font-size: $small-font-size;
    font-weight: $font-bold;
    text-decoration: none;
    top: 1rem;
    right: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // new sticky position workaround
  &.sticky {
    height: 3.3rem;

    a {
      position: fixed;
    }
  }
}

// account for admin toolbar
.user-logged-in.toolbar-fixed {
  .back-to-top a {
    top: 4.9rem;
  }

  &.toolbar-horizontal.toolbar-tray-open .back-to-top a {
    top: 8.9rem;
  }
}
