.cke_editable {

  .content-column-group {

    &.usa-grid-full {
      padding: 2%;
      border: 1px solid lightgrey;

      .content-column {
        &.usa-width-one-half,
        &.usa-width-one-third,
        &.usa-width-two-thirds,
        &.usa-width-one-fourth {
          padding: 2%;
          border: 1px dotted lightgrey;
          margin: 1rem 0;
        }
      }

    }

  }

}
