.content-column-group {
  // stylelint-disable unit-blacklist
  // ignore our unit-blacklist rule to keep in line with parent theme grid

  &.usa-grid-full {
    > :first-child {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .content-column {
      &.usa-width-one-half,
      &.usa-width-one-third,
      &.usa-width-one-fourth {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      ul, ol {
        margin: 0;
      }

      &:not(:first-child) {
        ul {
          margin-top: -0.5em;

          @include media($medium-screen) {
            margin-top: 0;
          }
        }
      }
    }

  }

}
